@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,200&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    overflow: visible
}
.all{
    border-bottom: 6px dotted white;
}

@media only screen and (max-width: 640px) {
    .menu {
        width: 50px;
        float: right;
        margin-top: 27px;
        margin-right: 20px;
    }

    .aLinks {
        display: none;
    }

    .logo_img {
        width: 100px;
    }
}

@media only screen and (min-width: 640px) {
    img {
        width: 130px;
    }

    .wrap {
        text-align: left;
    }

    .wrap div {
        display: inline-block;
    }

    .img_div {
        width: 15%
    }

    .aLinks {
        width: 80%;
        text-align: center;
        font-size: 30px;
        color:green
    }

    .aLinks a {
        color: white;

    }

    .aLinks a:hover {
        color: black;
        background-color: transparent;
        text-decoration: none;
    }

    .menu {
        visibility: hidden;
        display: none;
    }

}